 .page-container{
    color: #132e3c;
    /* background-color: #d65430; */
    /* background-color: #307898; */
    height: 100%;
 } 
 
.story-container {
    display: flex;
    align-items: center;
    justify-content:center;
    /* max-width: 90vw;  */
    color: #076338;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
  
  .scrollable-text {
    /* margin-bottom: 20px; */
    display: flex;
    flex-wrap: nowrap;
    max-width: 100vw; 
  }

  .scrollable-text > div{
    /* padding: 20px; */
    align-items: center;
    justify-content: center;
  }
  
  .video-container {
    max-width: 70vw; /* Set maximum width to 70% of viewport width */
  }

  
  
.scrollable-text > div > p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* text-align: center; */
    flex-wrap: nowrap;
    /* font-size: 1.1em; */
    padding: 1rem;
    /* color: #000; */
    /* color: #d65430; */
    /* background-color: #307898; */
  }
.button{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 10px;
}

button{
    padding: 15px;
    /* color: #d65430; */
    background-color: #076338;
    /* background-color: #307898; */
    border-radius: .8em;
    cursor: pointer;
    margin-bottom: 1em;
}

@media ( max-width: 768px ) {
    .scrollable-text {
        display: flex;
        max-width: 90%; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

      }

      .scrollable-text > div > p {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        font-size: 1.1em;
        padding: 1rem;
        color: #000;
      }
}