.navbar {
    /* background: transparent; */
    /* height: 5rem; */
    width: 100%;
    /* max-width: 75rem; */
    padding: 1rem 2rem;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    position: fixed;
    top: 0;
    /* z-index: 1000; */
    /* padding-right: 450px; */
    transition: background-color 0.3s ease-in-out;
}
 

.logo {
    object-fit: cover;
    height: 5rem;
    width: 10rem;
}

/* .logo-container {
    margin-right: auto;
} */

.desktopMenu {
    margin: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.5); /* Slightly dark background color */
  }

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    /* color: #d65430; */
    }


ul> li> a{
    color:#d65430;
    font-size: large;
    font-weight: bold;
}

ul> li> a:active{
    color: #076338;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        height: auto;
    }
 
    .logo-container {
        margin-right: 0;
    }

}
