#partnersPage {
    padding: 20px;
    text-align: center;
  }
  
  .partnersPagetitle {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .partnersFrame {
    border: 1px solid #ccc; 
    padding: 10px; 
    display: inline-block; 
  }
  
  #partnersImgs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .partnersImg {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin: 1px; 
  }
  
 
  .partnersImg:nth-child(2) {
    margin-right: 10px; 
  }
  
  .partnersImg:nth-child(3) {
    margin-left: 30px; 
  }
  