#partnersPage {
    padding: 20px;
    text-align: center;
    background-color: white;
    color: black;
}

.partnersPagetitle {
    font-size: 2rem;
    margin-bottom: 50px;
    color: black;
}

.partnersFrame {
    border: 1px solid #ccc;
    padding: 10px;
    display: inline-block;
}

#partnersImgs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.partnersImg {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin: 1px;
    border: 1px solid black;
}

#partnersList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
   
}

.partner {
    text-align: center;
    position: relative;
}

.partnerName {
    font-weight: bold;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1;
}

.partnersImg {
    display: block;
    max-width: 150px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

@media (max-width: 768px) {
    #partnersImgs {
        justify-content: center;
    }

    .partnersImg {
        margin: 5px;
    }

    .partnersImg:nth-child(2) {
        margin-right: 0;
    }

    .partnersImg:nth-child(3) {
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .partnersImg {
        width: 100px;
        height: 100px;
    }
}
