#partnersPage {
    padding: 20px;
    text-align: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    justify-content: center;
    /* background-color: #132e3c; */
    /* background-color: ; */
}

.partnersPagetitle {
    font-size: 3rem;
    margin-bottom: 50px;
    /* color: black; */
}


.partnersImg {
    width: 35vh;
    height: 25vh;
    object-fit: contain;
    padding: 8px;
    /* margin: 1px; */
    /* border: 1px solid black; */
}

.partnersImg:hover{
    object-fit:contain;
    /* background-color: green; */
    transition: .2s;
    transform: scale(1.35);
}

#partnersList {
    display: flex;
    flex-direction:row;
    gap: 50px;
    justify-content: center;
   
}

.partner {
    /* text-align: center; */
    /* justify-content: center; */
    color: #d65430;
    font-size: 25px;
}

/* .partnerName {
    font-weight: bold;
    line-height: 2em;
} */

.partnersImg {
    display: block;
    max-width: 150px;
    margin: 0 auto;
    /* position: relative; */
    /* z-index: 0; */
    border-radius: 100%;
    border: 2px solid #d65430;
}

.partnerName {
    line-height: 2 rem;
    padding: 8px 15px;
    background-color: #132e3c;
    color: #fff;
    /* color: #d65430; */
    text-decoration: none;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10 px;
  }
  
  .partnerName:hover {
    background-color: #076338;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
  }
  
@media (max-width: 768px) {
     
    #partnersPage {
        /* padding: 20px; */
        text-align: center;
        height: auto;
    }

    #partnersList {
        display: flex;
        flex-direction:column;
        /* gap: 50px; */
        justify-content: center;
    }

    .partnersImg {
        width: 30vh;
        height: 18vh;
        object-fit: contain;
        /* margin: 1px; */
        border: 1px solid black;
    }
}

/* @media (max-width: 480px) {
    .partnersImg {
        width: 100px;
        height: 100px;
    } 
 } */
